name: "Deploy QA"

on:
  push:
    branches: [ qa ]

jobs:
  vercel:
    runs-on: ubuntu-latest
    name: "Deploy QA"

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: "Deploy to Vercel QA"
        run: npx vercel --token ${VERCEL_TOKEN}
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
